<h1>Project info</h1>
<h2><%= @project.title%></h2>
<p>Category ID: <%= @project.category_id %></p>
<p>Description: <%= @project.description %></p>
<p>Goal amount: <%= @project.goal_amount %></p>
<p>Start date: <%= @project.start_date %></p>
<p>End date: <%= @project.end_date %></p>
<a href="/projects">Back to all projects</a>

<%= link_to "Edit project", edit_project_path(@project) %>